<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exp-routing</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact us</a>
    </nav>
    <h1 class="homepage">This is the Homepage</h1>

    <main>
        
        <div class="left-col">
        <video autoplay="" id="hero-video" loop="" muted >
            <source src="/delivery-service-workers-with-boxes-animation-SBV-347141502-preview.mp4" type="video/mp4"/>
        </video>
        <br>
        <br>
        <br>

        </div>

        <div class="right-col">
            <h1 class="heading">We deliver best in class services worldwide</h1>
            <p class="sub-head">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias amet quo molestias unde magni debitis dicta vero voluptatum atque. <br> Ratione excepturi commodi dolore, debitis blanditiis totam distinctio maiores consequuntur.</p>
            <div class="cta-btn">
                    <!-- refer back to this -->
                <a href="/services"class="main-cta">    Learn More</a>
            </div>
        </div>
</main>
</body>
</html>
