<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exp-routing</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body style="background: #fff">
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact us</a>
    </nav>
    <h1>Our Services</h1>

    <section id="footer-sec">
      <div class="info-sec">
        <div class="card1">
          <div class="card-details">
            <video autoplay="" id="footer-video" loop="" muted>
              <source
                src="/airplane-flying-in-earth-maps-logistic-animation-SBV-347136627-preview.mp4"
                type="video/mp4"
              />
            </video>
            <a href="#" class="product-title">logistics</a>
            <p class="product-info">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
              excepturi vel asperiores maxime temporibus nobis Lorem ipsum
              dolor, sit amet consectetur adipisicing elit. Voluptas, nulla.
              Nemo earum ab fugit odio maiores aspernatur dolore ut culpa
              dolorem corporis amet quod fugiat quidem voluptatum, repellat
              laborum accusantium quae doloribus et, ullam neque! Animi sit
              voluptas incidunt fuga non, commodi beatae minus blanditiis.
              Quaerat soluta necessitatibus placeat nam dolorum et dignissimos
              quas exercitationem porro sequi quasi enim quo, voluptatem magni
              ad eius sed nemo, nulla repellat, suscipit dicta accusantium
              ducimus? Mollitia ex, expedita facere repellendus a laboriosam
              voluptate sint sapiente doloremque obcaecati quo dolore veniam
              recusandae, omnis animi minima molestias itaque sunt explicabo.
              Ducimus error sequi asperiores vel quasi sunt voluptates dicta
              voluptas dolore dignissimos cumque natus dolorum beatae veniam,
              minima tempore eaque? Possimus eveniet expedita rem, doloribus
            </p>
          </div>
        </div>
        <div class="card2">
          <div class="card-details">
            <video autoplay="" id="footer-video" loop="" muted>
              <source
                src="/logistic-service-animation-with-watch-and-envelopes-4k-video-animated-SBV-338231524-preview.mp4"
                type="video/mp4"
              />
            </video>
            <a href="#" class="product-title">Port-to-door</a>
            <p class="product-info">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae magnam vel illo velit. Distinctio maxime aut,
              perspiciatis laboriosam optio harum?Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Libero architecto minima quis
              provident. Similique debitis corrupti corporis possimus, deserunt,
              unde architecto consequatur inventore, molestiae quae modi
              voluptatem dicta deleniti? Quaerat fugiat, asperiores aliquid
              praesentium dolor sint rem unde reiciendis beatae dolores sed
              placeat, nisi, accusantium in porro dolorum temporibus. A nobis
              quibusdam tempore aperiam molestias, adipisci reiciendis in quod
              nesciunt. Distinctio dolorem, dolorum quod dignissimos ratione
              labore porro perferendis iure. Porro, cum. Similique adipisci
              ullam nesciunt exercitationem. Maxime accusamus provident earum
              ut, officiis, natus, excepturi laborum quam ad saepe voluptate
              reiciendis rem. Eligendi modi at fugiat aliquam et eos officia,
              quidem reiciendis consectetur ducimus repudiandae voluptatum, id,
              quo recusandae saepe amet harum. Est ipsa culpa, aspernatur illum
              aliquam dolorem maxime reprehenderit ratione dolorum laboriosam
              voluptatum, quaerat id vero vitae reiciendis quae aperiam
              praesentium voluptatem quam. Laudantium fugiat adipisci blanditiis
              ducimus culpa quos tempore, atque doloribus ad earum quisquam
              repellat possimus inventore ut numquam perspiciatis temporibus cum
              obcaecati quod quis autem animi nobis esse? Incidunt modi
              molestias recusandae! Architecto harum soluta consectetur, facere
              asperiores odio at quaerat praesentium! Minus velit perspiciatis
              est sed ex? Sint, necessitatibus ut. Impedit quidem, nemo
              voluptatum, dolore ut reprehenderit cumque illum sed sint quas
              repellendus rem?
            </p>
          </div>
        </div>
        <div class="card3">
          <div class="card-details">
            <video autoplay="" id="footer-video" loop="" muted>
              <source
                src="/logistic-service-worker-lifting-world-planet-4k-video-animated-SBV-338231682-preview.mp4"
                type="video/mp4"
              />
            </video>
            <a href="#" class="product-title">Consult</a>
            <p class="product-info">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
              laudantium nam recusandae vitae voluptas nulla nemo dolore, nisi
              quasi voluptatem! . Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Accusantium distinctio nulla adipisci veniam
              magnam culpa, quod debitis dolorum enim libero vero placeat animi
              porro modi quia tenetur, rerum, nihil recusandae nostrum esse
              aliquam beatae? Debitis perspiciatis deserunt distinctio, suscipit
              iste, eligendi dolor aliquid reprehenderit, quas asperiores nam
              perferendis consequatur dolore molestiae placeat rem itaque cumque
              quod. Dolore at non voluptate dicta dignissimos expedita deserunt
              delectus ea facere, velit error natus dolores, repudiandae unde
              voluptatem tempore facilis accusamus? Suscipit nisi, eaque quis
              iste earum corporis accusantium maxime fugiat recusandae quod
              quisquam consequuntur voluptatem aperiam eveniet ipsa? Excepturi
              ut blanditiis quisquam! Nostrum dolores voluptatem error impedit
              consectetur aperiam repudiandae nam inventore quasi eos. Sunt,
              saepe molestiae vitae placeat atque rerum facere cupiditate?
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
