@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;1,800&display=swap'); // remove the html link
body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    background: #000;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: flex-end; 
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    
}

nav a:hover{
    color: red;
}

h1{
    color: #fff;
}

.heading{
    color: green;
}

/* at styling */
#hero-video{
    padding-left: 30px;
    height: 350px;

}

main{
    display: flex !important;
    margin-left: auto;
    margin-right: auto;
    gap: 8em;

}



main.left-col{
    width: 800px;
    float: left;

}

main.right-col{
    width: 600px;
    float: right;
 
}

.right-col{
    color: whitesmoke;
    position: relative;
}

.main-cta{
    position: absolute;
    color: white;
   font-size: 30px;
   /* border: 5px solid white; */
   border-radius: 100px;
   width: 200px;
   text-decoration: none;
   text-align: center;
   padding: 22px;
   margin-left: 110px;
   margin-top: 22px;
   background: transparent;
}
.main-cta:hover{
    border: 5px solid white;
    background: #fff;
    transition: 0.5s;
    color: green;
}

/* services */

.footer-sec>*{
    display: flex !important;
    flex-direction: row !important;
    gap: 14px;
    
}



#footer-video{
    width: 100%;
    height: 60vh;
} 

.card-details{
    background: white;
    height: 50%;
    box-shadow: rgb(217, 216, 216);
    

}


 .product-title{
    text-decoration: none;
    font-size: 30px;
    color: rgb(1, 12, 128);
}


/* icons */
.icons{
    font-size: 80px;
    padding: 12px;
    width: 100px;
    text-align: center;
    color: #ffff;
    width: 400px;
    margin-left: 250px;
    padding-left: 200px;

}

.icons>*{
    padding: 4px;
    cursor: pointer;
}
